aioboto3==9.6.0
aiobotocore==2.3.0
aiohttp==3.8.3
aioitertools==0.11.0
aiosignal==1.2.0
anyio==3.6.1
async-timeout==4.0.2
attrs==22.1.0
Authlib==1.1.0
boto3==1.21.21
boto3-stubs==1.24.59
botocore==1.24.21
botocore-stubs==1.27.89
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cryptography==36.0.2
fastapi==0.85.0
frozenlist==1.3.1
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.4
itsdangerous==2.1.2
jmespath==1.0.1
multidict==6.0.2
pycparser==2.21
pydantic==1.10.2
python-dateutil==2.8.2
pytz==2022.4
rfc3986==1.5.0
s3transfer==0.5.2
six==1.16.0
sniffio==1.3.0
starlette==0.20.4
types-aioboto3==9.6.0.post2
types-awscrt==0.14.7
types-pytz==2022.4.0.0
types-s3transfer==0.6.0.post4
typing_extensions==4.4.0
urllib3==1.26.12
uvicorn==0.18.3
wrapt==1.14.1
yarl==1.8.1
